* {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: 'Futura', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
#text {
  margin-top: 20px;
  width:100%; 
  border: none;
}
#container {
  height: 400px;
  width: 100%;
  overflow: scroll;
  cursor: text;
}
#button {
  border: 2px solid #45c0c7;
  border-radius: 6px;
  background: rgba(0,0,0,0) !important;
  color: #45c0c7;
  width: 80px;
  height: 30px;
  cursor: pointer;
  position: relative;
  font-size: 15px !important;
}
#button:active {
  border: none;
  border-radius: 6px;
  background-color: #45c0c7 !important;
  color: white;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 20px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}